@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ol {
  padding-left: 1.8em;
}

body {
  font-family: "Open Sans";
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.outer-container {
  background-image: url("../assets/note-background.svg"),
    url("../assets/brown-background.png");
  background-size: 65% auto, 35% auto;
  background-position: left, right;
  background-repeat: repeat-y, repeat-y;
}

.heading {
  width: 100%;
  height: 20rem;

  &__container {
    height: 100%;
    width: 100%;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    z-index: 20;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 20;
  }

  &__joke {
    height: 90%;
    position: absolute;
    top: 2rem;
    right: 3rem;
    z-index: 10;
  }

  &__hero {
    min-width: 100%;
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.main {
  display: flex;

  &__wrapper {
    width: 65%;
  }

  &__favorites {
    width: 35%;
    height: 36rem;
    font-size: 1.25rem;
    overflow: scroll;
  }
}

/* ------------------------------- Daily Joke ------------------------------- */
.daily-joke {
  margin: 0 10rem 0 5rem;

  &__subtitle {
    margin: 0 10rem 0 5rem;
    padding-top: 3.5rem;
    line-height: 0.8;
    font-size: 1.875rem;
    padding-bottom: 2.5rem;
  }

  &__text {
    background-color: #f6f2eb;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.25rem;
    padding: 2.5rem 2rem;
    text-align: center;
  }

  &__action {
    margin: 0 10rem 0 5rem;
    padding-top: 2.5rem;
  }
}

/* -------------------------------- Favorite -------------------------------- */
.favorites {
  &__subtitle {
    padding: 3.5rem 0 1.5rem 3rem;
    line-height: 0.8;
  }

  &__list {
    font-size: 1rem;
    padding-left: 4.125rem;
    padding-right: 3rem;
  }

  &__item {
    margin: 1rem 0;
    background-color: #f6f2eb;
    padding: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/* --------------------------------- Buttons -------------------------------- */
.button {
  height: 3rem;
  background-color: #8b7362;
  color: white;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &--large {
    width: 100%;
  }

  &__icon {
    width: 1.2rem;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }
}

/* --------------------------------- Footer --------------------------------- */
.footer {
  background-color: #605d58;
  padding: 2.5rem 5rem 2.5rem 5rem;
  color: white;
  font-size: 1rem;
}
